{% extends 'RenegadeCarImpactBundle::base.html.twig' %}
{% set page_title = "about"|trans() %}
{% set active_section = "about" %}

{% block body_container_main %}

    <h2>What is this?</h2>
    <hr>

    <p>
        This application was developed with the intention of raising awareness regarding the impact of our vehicles. Not only do they have an environmental impact (Fuel Efficiency/Consumption etc.) but they also have a financial impact to operate.
        Using <a href="http://data.gc.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64">data</a> provided by the <a href="http://data.gc.ca">Federal Government of Canada</a> we have created a service that allows you to view and compare various cars to see their environmental and financial impact.
    </p>

    <h2>CODE</h2>
    <hr>

    <p>
        Developed in under 72 hours from nothing to functional deployed website what you see before you is the result of the <a href="https://www.canadianopendataexperience.com/">Canadian Open Data Experience</a>. The theme for the 2014 competition was: "<strong>Solving problems and increasing productivity through the use of Open Data</strong>".
        We believe that the data provided could make vehicles purchases more fuel efficient and cost effective for consumers thus boosting overall economic and environmental productivity.
    </p>

    <p>The codebase for this website is available <a href="#">here</a>, please feel free to send any questions, comments or pull requests!</p>

{% endblock %}
