{% extends 'RenegadeCarImpactBundle::base.html.twig' %}
{% set page_title = "about"|trans() %}
{% set active_section = "about" %}

{% block body_container_main %}

    <h2>What is this?</h2>

    <p>Using <a href="http://data.gc.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64">automobile fuel
            consumption</a> and emissions data for the last 14 years provided by the <a href="http://data.gc.ca/">Federal
            Government of Canada</a> we set out to create a service that allows the visitor to view and compare
        passenger automobile data to see their environmental and financial impacts.</p>
    <p>This application was developed with the intention of raising awareness about the impact of our automobile usage
        on Canadians' environment, finances, and productivity.</p>
    <p>We hoped to achieve these goals by providing a tool that gave vistors the ability to:</p>
    <ul>
        <li>Compare fuel consumption and CO2 emissions between vehicle models</li>
        <li>Calculate the cost of travel using fuel consumption rates and current average gas rates accross Canada</li>
        <li>Use historical data to graph and show increasing environmental standards for automobiles</li>
        <li>Outline tangible real-world impacts of oil production based on the visitor's usage</li>
    </ul>

    <p>In addition, we have created a public web service around the imported data to allow others to easily integrate
        the data into their own applications.</p>

    <h2>Web Service</h2>

    <h3>GET - Manufactures</h3>
    <p>/api/v1/makes</p>

    <h3>GET - Manufacturer</h3>
    <p>/api/v1/makes/:id</p>

    <h3>GET - Models by Manufacturer</h3>
    <p>/api/v1/makes/:id/models</p>

    <h3>GET - Vehicles by Model</h3>
    <p>/api/v1/models/:model/vehicles</p>

    <h3>GET - Models</h3>
    <p>/api/v1/models</p>

    <h3>GET - Model</h3>
    <p>/api/v1/models/:id</p>

    <h3>GET - Years that model was available</h3>
    <p>/api/v1/models/:id/years</p>

    <h3>GET - Vehicles available for a model in a year</h3>
    <p>/api/v1/models/:model/years/:year</p>

    <h3>Get - Vehicle</h3>
    <p>/api/v1/vehicles/:id</p>

{% endblock %}
