{% extends 'RenegadeCarImpactBundle::base.html.twig' %}

{% block body_container_main %}
    <section id="vehicle-app">
        <section id="vehicle-select">
            <div class="form-group">
                <input type="text" id="make-entry" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" id="model-entry" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" id="year-entry" class="form-control" />
            </div>
        </section>
        <section id="vehicle-listing">
            <ul id="vehicle-list">

            </ul>
        </section>
    </section>
    <script type="text/template" id="vehicle-template">
        <div class="vehicle" data-highway-mpg="<%- mileage.city.mpg %>">
            <span class='id'><%- year %></span>
            <span><%- make.label %></span>
            <span><%- model.label %></span>
            <span><%- fuel_type_string %></span>
            <span><%- transmission_type_string %></span>
            <span>City MPG: <%- mileage.city.mpg %></span>
        </div>
    </script>
{% endblock %}
