{% extends 'RenegadeCarImpactBundle::base.html.twig' %}

{% block body_container_main %}


    {% verbatim %}
    <script type="text/x-handlebars" data-template-name="application">
        <div class="page-container">
            {{outlet}}
        </div>
    </script>
    {% endverbatim %}


    {% verbatim %}
    <script type="text/x-handlebars" data-template-name="index">
        <div class="form-group">
            <input class="typeahead" id="vehicle-make-typeahead" type="text" placeholder="Vehicle Make (ex Toyota)">
        </div>

        <ul>
            {{#each make in controller}}
            <li>{{make.label}}</li>
            {{/each}}
        </ul>
    </script>
    {% endverbatim %}

{% endblock %}
