
#animation-content-wrapper {
  min-height: 4000px;
  h2 {
    font-size: 100px;
    font-weight: normal;
    margin: 0;
    color: #EB5E5E;
    padding: 60px;
    text-shadow: 0 2px 1px #000;
    text-transform: uppercase;
  }
}

