
#vehicle-list {
  margin:0px;
  padding:0px;

  li {
    list-style: none;
  }

  .vehicle {
    padding: 0px;
    background-color:#5bc0de;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    padding-left: 4em;

    border: 1px solid #333;

    .data-year {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.3em;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: darken(#5bc0de, 10%);
      border-left: 0;
      border-top: 0;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }

    .data-label {
      display: block;
    }
  }
}