#vehicle-select-list {
  margin:0px;
  padding:0px;

  li {
    @include clearfix;
    list-style: none;
    display: block;
    margin: 10px 0;
    .information {
      overflow: hidden;
      padding-left: 20px;
    }
    .action {
      float: left;
    }
  }
}

#vehicle-list {
  margin:0px;
  padding:0px;

  li {
    list-style: none;
  }

  .vehicle {
    @include clearfix;
    padding: 0px;
    background-color:#5bc0de;
    color: white;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    border: 1px solid #333;
    display: table;
  }
  .classifying-information, .numeric-data {
    @include clearfix;
    display: table-cell;
    vertical-align: middle;
  }
  .classifying-information {
    padding: 10px;
    width: 70%;
  }

  .numeric-data {
    width: 30%;
    span {
      display: block;
      width: 50%;
      float: left;
    }
  }
}