{% block body_container_footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            Some Footer Infomation
        </div>
    </nav>
{% endblock %}