{% block body_container_footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-left">
            Built by: Mark Hayes (<a href="http://twitter.com/mhazy">@mhazy</a>) and Thomas Herr (<a href="http://twitter.com/tlherr">@tlherr</a>)
        </div>

        <div class="container-right">
            Built with <a href="http://symfony.com/">Symfony</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://getbootstrap.com/">bootstrap</a> and a healthy lack of sleep for <a href="https://www.canadianopendataexperience.com/">CODE2014</a> <span class="glyphicon glyphicon-heart"></span>
        </div>
    </nav>
{% endblock %}